.swipeButtons{
    display:flex;
    justify-content:space-evenly;
    position: fixed;
    bottom: 1vh;
    width: 100%;
}
.swipeButtons .MuiIconButton-root{
    background-color: aliceblue;
    box-shadow: 0px 10px 53px 0px rgba(0, 0,0,0.3) !important;
}
.sB__repeat {
    padding: 3vw !important;
    color: #f5b748 !important;
}

.sB__left {
    padding: 3vw !important;
    color: #ec5e6f !important;
}

.sB__star {
    padding: 3vw !important;
    color: #62b4f9 !important;
}

.sB__right {
    padding: 3vw !important;
    color: #76e2b3 !important;
}

.sB__lightning {
    padding: 3vw !important;
    color: #915dd1 !important;
}